/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header {
  margin-top: 40px;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  max-width: 1140px;
  border-top: 2px solid black;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
}

/* top red border div */
body > header > div > div:nth-child(1) {
  border-top: 2px solid red;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1140px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

@media (min-width: 600px) {
  header nav {
    padding: 0 20px;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: auto;
  height: 80px;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  justify-content: center;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-size: 18px;
  color: #8c8c8c;
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  display: flex;
  margin-top: 0;
  gap: 0;
}

header nav .nav-sections ul > li > ul > li {
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  gap: 0;
}

/* Drop down styling */
.news {
  display: flex;
}

.news > li {
  display: flex;
  flex-direction: column;
}

.news > li > ul {
  flex-direction: column;
}

.news > li:nth-child(1),
.news > li:nth-child(2),
.news > li:nth-child(3),
.news > li:nth-child(4) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  width: 33.33%;
}

.news > li:nth-child(1) {
  border-right: 1px solid black;
}

.news > li:nth-child(2) {
  padding-left: 20px;
  border-right: 1px solid black;
}

.news > li:nth-child(3),
.news > li:nth-child(4) {
  padding-left: 20px;
}

.news > li:nth-child(4) {
  position: absolute;
  left: 730px;
  top: 210px;
}

.news li > ul > li,
.companies li > ul > li,
.awards li > ul > li,
.events li > ul > li,
.industry li > ul > li,
.about li > ul > li {
  padding-top: 10px;
}

.news li > ul,
.companies li > ul,
.awards li > ul,
.events li > ul,
.industry li > ul,
.about li > ul {
  flex-direction: column;
}

.companies > li:nth-child(1),
.companies > li:nth-child(2),
.companies > li:nth-child(3),
.companies > li:nth-child(4) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

.companies > li:nth-child(1),
.companies > li:nth-child(2),
.companies > li:nth-child(3) {
  width: 33%;
}

.companies > li:nth-child(4) {
  position: absolute;
  left: 725px;
  top: 460px;
}

.companies > li:nth-child(1) {
  border-right: 1px solid black;
}

.companies > li:nth-child(2) {
  border-right: 1px solid black;
  padding-left: 20px;
}

.companies > li:nth-child(3),
.companies > li:nth-child(4) {
  padding-left: 20px;
}

.awards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.awards::before,
.awards::after {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 1px;
  background-color: black;
}

.awards::before {
  left: calc((100% - 30px) / 3);
}

.awards::after {
  left: calc((2 * (100% - 15px)) / 3);
}

.awards > li:nth-child(1) {
  grid-column: 1 / 2;
}

.awards > li:nth-child(2),
.awards > li:nth-child(3) {
  grid-column: 2 / 3;
  padding-left: 10px;
}

.awards > li:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-left: 10px;
}

.awards > li:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: absolute;
  bottom: 350px;
  padding-left: 20px;
}

.awards > li:nth-child(1),
.awards > li:nth-child(2),
.awards > li:nth-child(3),
.awards > li:nth-child(4),
.awards > li:nth-child(5) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

.awards > li:nth-child(3) {
  position: absolute;
  top: 370px;
}

.events > li:nth-child(1),
.events > li:nth-child(2),
.events > li:nth-child(3) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  width: 33.33%;
}

.events > li:nth-child(1) {
  border-right: 1px solid black;
}

.events > li:nth-child(2) {
  border-right: 1px solid black;
  padding-left: 20px;
}

.events > li:nth-child(3) {
  padding-left: 20px;
}

.industry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.industry > li {
  align-self: start;
  justify-self: start;
}

.industry::before,
.industry::after {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 1px;
  background-color: black;
}

.industry::before {
  left: calc((100% - 30px) / 3);
}

.industry::after {
  left: calc((2 * (100% - 15px)) / 3);
}

.industry > li:nth-child(1) {
  grid-column: 1 / 2;
  padding-left: 20px;
}

.industry > li:nth-child(2),
.industry > li:nth-child(3) {
  grid-column: 2 / 3;
  padding-left: 10px;
}

.industry > li:nth-child(4) {
  grid-column: 3 / 4;
  grid-row-start: 1;
  padding-left: 10px;
}

.industry > li:nth-child(n + 5) {
  grid-column: 3 / 4;
  padding-left: 10px;
}

.industry > li:nth-child(3) {
  position: absolute;
  top: 300px;
}

.industry > li:nth-child(5) {
  position: absolute;
  top: 330px;
}

.industry > li:nth-child(6) {
  position: absolute;
  top: 630px;
}

.industry > li:nth-child(7) {
  position: absolute;
  top: 800px;
}

.industry > li:nth-child(8) {
  position: absolute;
  top: 880px;
}

.industry > li:nth-child(1),
.industry > li:nth-child(2),
.industry > li:nth-child(3),
.industry > li:nth-child(4),
.industry > li:nth-child(5),
.industry > li:nth-child(6),
.industry > li:nth-child(7),
.industry > li:nth-child(8) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.about::before,
.about::after {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 1px;
  background-color: black;
}

.about::before {
  left: calc((100% - 30px) / 3);
}

.about::after {
  left: calc((2 * (100% - 15px)) / 3);
}

.about > li:nth-child(1) {
  grid-column: 1 / 2;
  padding-left: 10px;
}

.about > li:nth-child(2) {
  grid-column: 2 / 3;
  padding-left: 10px;
}

.about > li:nth-child(3),
.about > li:nth-child(4),
.about > li:nth-child(5) {
  grid-column: 3 / 4;
  padding-left: 10px;
}

.about > li:nth-child(4) {
  position: absolute;
  top: 300px;
}

.about > li:nth-child(5) {
  position: absolute;
  top: 500px
}

.about > li:nth-child(1),
.about > li:nth-child(2),
.about > li:nth-child(3),
.about > li:nth-child(4),
.about > li:nth-child(5) {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

/* ...  */

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
  }

  /* header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  } */

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  /* nav drop positioning */
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul {
    display: flex;
    position: absolute;
    left: -264px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 1em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  .nav-sections > ul > li:nth-child(2)[aria-expanded='true'] > ul {
    display: flex;
    position: absolute;
    left: -349px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 1em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  .nav-sections > ul > li:nth-child(3)[aria-expanded='true'] > ul {
    display: grid;
    position: absolute;
    left: -480px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 26em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  .nav-sections > ul > li:nth-child(4)[aria-expanded='true'] > ul {
    display: flex;
    position: absolute;
    left: -639px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 1em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  .nav-sections > ul > li:nth-child(5)[aria-expanded='true'] > ul {
    display: grid;
    position: absolute;
    left: -734px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 53em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  .nav-sections > ul > li:nth-child(6)[aria-expanded='true'] > ul {
    display: grid;
    position: absolute;
    left: -896px;
    top: 46px;
    width: 1080px;
    margin-top: 12px;
    padding: 40px 1em 15em;
    background-color: #f3f3f3;
    white-space: initial;
    border: 1px solid black;
  }

  /* header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  } */

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

.icon-search svg {
  fill: red;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
