/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header {
  height: 120px;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  border-top: 2px solid red;
}

header nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 2px solid red;
  align-items: center;
  max-width: 1264px;
  height: 120px;
  padding: 0 12px;
}

@media (min-width: 900px) {
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link,
.mobile-menu a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  padding: 8px 14px;
  border-radius: 4px;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--clr-grey);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 28px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='true'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  height: 2.5px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  top: -9px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 9px;
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

header nav .nav-brand img {
  width: 141px;
  height: 80px;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

header nav .nav-search-container {
  background-color: #fff;
  border: 1px solid rgba(0 0 0 / 20%);
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

header nav .nav-search-container > * {
  padding: 1rem;
}

header nav .nav-search-container > p {
  display: flex;
  align-items: center;
  font-size: var(--heading-font-size-xl);
}

header nav .nav-search-container > p .icon-close {
  width: 1em;
  height: 1em;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

header nav .nav-search-container > p .icon-close:hover {
  opacity: 0.75;
}

header nav .nav-search-container form {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  gap: 0.5rem;
}

header nav .nav-search-container form input[type='search'] {
  flex: 1;
  font-size: var(--body-font-size-l);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
}

header nav .nav-search-container button {
  padding: 0.5rem;
  min-width: 90px;
  background-color: #fff;
  border-radius: 0.25rem;
  text-transform: none;
  font-size: var(--body-font-size-l);
}

header nav .nav-search-container > button {
  margin: 1rem 1rem 1rem auto;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
}

header nav .nav-search-container button[type='submit'] {
  color: #24ed1c;
  border: 2px solid #24ed1c;
}

header nav .nav-search-container button[type='submit']:hover {
  background-color: #24ed1c;
  color: #000;
}

header nav .nav-search {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0 0 0 / 50%);
}

header nav .nav-search.active {
  display: block;
}

header nav .icon.icon-search {
  cursor: pointer;
}

/* stylelint-disable-next-line no-duplicate-selectors */
header nav .nav-search-container {
  max-width: 900px;
  margin: 1rem auto;
}

@media (min-width: 900px) {
  .nav-container > .mobile {
    display: none;
  }

  header nav .menu-items {
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-m);
    color: var(--clr-grey);
    cursor: pointer;
    padding-top: 25px;
  }

  .menu-items div {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 16px 45px;
    transition: border-color 0.3s ease;
    z-index: 4;
  }

  .menu-items div:hover {
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid transparent;
    color: black;
  }

  .menu-items div[aria-expanded='true'] {
    color: black;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid transparent;
    background-color: #f3f3f3;
    z-index: 20;
  }

  .desktop-menu {
    display: none;
  }

  #menu-container {
    background-color: #f3f3f3;
    border: 1px solid #8f8f8f;
    justify-content: center;
    padding-left: 5px;
    padding-bottom: 15px;
  }

  #menu-container[aria-expanded='false'] {
    display: none;
  }

  #menu-container u {
    text-decoration: none;
  }

  #menu-container ul {
    padding-left: 10px;
    margin: 0;
  }

  #menu-container a:any-link {
    color: currentcolor;
    text-decoration: none;
    padding-left: 12px;
  }

  #menu-container code {
    font-family: var(--heading-font-family);
  }

  #menu-container > div > div > ul > li > ul li {
    padding: 4px 12px 4px 0;
    font-size: var(--body-font-size-s);
    font-weight: normal;
  }

  #menu-container > div > div > ul > li > ul li:hover {
    color: white;
    background-color: red;
    margin-right: 50px;
  }

  .close-button {
    display: flex;
    justify-content: end;
    padding: 6px 12px 3px;
  }

  .close-button button {
    display: flex;
    flex-direction: row;
    text-transform: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    outline: none;
  }

  .close-button button span {
    padding-top: 3px;
    margin-left: 4px;
  }

  .close-button button span > svg {
    border: 1px solid black;
    border-radius: 50%;
  }

  .desktop-menu[aria-expanded='true'] {
    display: flex;
    width: 100%;
  }

  .desktop-menu div {
    flex: 1;
    border-right: 1px solid black;
  }

  .desktop-menu div:nth-of-type(3) {
    border-right: none;
  }

  .desktop-menu li {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    color: black;
    font-weight: 700;
    list-style: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 899px) {
  .nav-sections {
    display: none;
  }

  #menu-container {
    display: none;
  }

  .mobile-menu code {
    display: none;
  }

  .mobile-menu u {
    text-decoration: none;
  }

  header nav {
    position: relative;
    display: grid;
    grid-template:
      'brand tools hamburger' var(--nav-height)
      'sections sections sections' 1fr;
    align-items: center;
    font-family: var(--body-font-family);
  }

  .mobile-menu li > ul {
    display: none;
  }

  .mobile-menu div li[aria-expanded='true'] > ul {
    display: block;
  }

  .nav-drop ul > li[aria-expanded='true'] > ul {
    display: block;
    margin: 0;
  }

  /* nav arrows */
  .nav-container > .mobile .menu-items > div::before,
  .mobile > div > div > div > div > ul > li::before {
    margin-right: 5px;
    content: '';
    display: inline-block;
    position: inherit;
    top: 0.5em;
    right: 2px;
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  .nav-container > .mobile .menu-items > div[aria-expanded='true']::before,
  .mobile > div > div > div > div > ul > li[expanded="true"]::before {
    transform: rotate(135deg);
  }

  /* ...  */

 .mobile {
    overflow: hidden;
    visibility: hidden;
    transition: all .35s ease;
}

.mobile[aria-expanded='true'] {
    visibility: visible;
}

 .mobile .menu-items {
    font-size: var(--body-font-size-m);
    color: var(--clr-grey);
    padding: 10px 0 10px 60px;
}

.mobile .menu-items div {
    padding: 3px 16px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

 .mobile .menu-items div:hover {
    color: black;
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    display: block;
}

.mobile-menu[aria-expanded='true'] {
    max-height: 1000px;
    padding-left: 20px;
    color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.mobile-menu ul {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    color: var(--clr-grey);
}

.mobile-menu ul:hover {
    color: black;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.mobile-menu ul li {
    display: block;
    font-weight: bold;
}

.mobile-menu ul li ul {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 16px;
}

.mobile-menu ul li ul li {
    font-weight: normal;
    color: black;
    padding: 4px 60px 4px 10px;
}

.mobile-menu ul li ul li:hover {
    color: white;
    background-color: red;
}

 header nav .nav-search-container {
    max-width: 900px;
    margin: 1rem auto;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

.nav-tools svg {
  fill: red;
}
