.category main h1 {
  color: var(--link-color);
  margin-top: 0;
  padding-top: 0;
}

.category main .content-section > a > h2 {
  color: var(--link-color);
  text-transform: uppercase;
  display: inline-block;
}

.category main .article-card-title a {
  color: var(--text-color);
}

.category main .article-cards:not(.lead-article) .article-card {
  border-bottom: 2px dotted var(--color-mid-grey);
}
