.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    
  }
  
  .pagination ul,
  .pagination a {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .pagination ul {
   flex-wrap: wrap;
   list-style: none;
   align-items: center;
  }
  
  .pagination li {
    margin: 0;
    padding: 0;
  }
  
  .pagination a {
    display: flex;
    font-family: var(--article-heading-family);
    font-size: var(--heading-font-size-l);
    color: var(--clr-red);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .page-link {
    position: relative;
    display: block;
    color: var(--clr-red);
    text-decoration: none;
    background-color:var(--clr-white);
    border: 3px solid var(--clr-white);
    transition: none;
    padding: 0.75rem 1.5rem;
  }
  
  a.page-link:hover, a#a-prev.page-link.previous:hover, a#a-next.page-link.next.active:hover  {
    color: var(--clr-white); 
    background-color: var(--clr-red); 
    border-color: var(--clr-red);
  }
  
  .page-item.active {
    z-index: 5;
    color: var(--clr-red);
    background-color: var(--clr-white);
    border: 3px solid var(--clr-red);
  }
  
  .page-item.active-first {
    z-index: 5;
    color: var(--clr-red);
    background-color: var(--clr-white);
    border: 3px solid var(--clr-red);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .page-item.active-last {
    z-index: 5;
    color: var(--clr-red);
    background-color: var(--clr-white);
    border: 3px solid var(--clr-red);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;  
  }
  
  .pagination a[aria-current] {
    color: var(--text-color);
  }
  
  
  .pagination li:first-child a:not([aria-current]) {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination li:last-child a:not([aria-current]) {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .news-list-pagination {
    width: 100%;
    text-align: justify;
    flex: 0 0 auto;  
  }