/* footer base styles */
footer {
  background-color: #b7b7b7;
  border-top: 10px solid var(--clr-red);
  font-size: var(--body-font-size-m);
  margin: auto;
  max-width: 1140px;
  margin-bottom: 100px;
}

.footer-wrapper {
  margin-top: 24px;
}

.footer {
  border-top: 10px solid var(--clr-black);
  display: flex;
  padding: 20px 0 50px;
  width: 100%;
}

/* list and link styles */
.footer li {
  list-style-type: none;
}

.footer-sublinks li {
  padding-right: 5px;
}

.footer-main ul > li {
  padding: 0 25px;
}

/* footer rows */
.footer-row {
  display: flex;
  flex-direction: row;
}

.footer a {
  color: var(--clr-black);
  text-decoration: none;
}

/* sublink styles */
.footer-sublinks {
  font-size: var(--heading-font-size-s);
  padding-left: 160px;
}

.footer-sublinks ul {
  display: flex;
}

.footer-sublinks li:not(:last-child)::after {
  content: ' | ';
  margin: 0 5px;
}

/* footer brand styles */
.footer-brand {
  padding-left: 30px;
}

.footer-brand img {
  height: 55px;
  margin: 10px 0;
  width: 100px;
}

.footer-brand p {
  font-size: var(--heading-font-size-xs);
  margin: 0;
  text-align: center;
}

/* social styles */
.footer-social {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
}

.footer-social svg {
  height: 30px;
  width: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons p {
  padding-right: 20px;
}

.follow-crn {
  font-size: var(--heading-font-size-s);
  padding: 11px 0 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-border {
  border-top: 10px solid var(--clr-black);
}

.footer p {
  margin: 0;
}

/* main footer styles */
.footer-main {
  font-family: var(--body-font-size-m);
  text-transform: uppercase;
}

.footer-main ul {
  color: var(--clr-black);
  display: flex;
  flex-direction: row;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  padding: 0 12px;
  text-align: left;
}

@media (max-width: 375px) {
  .footer,
  .footer-row,
  .footer-main,
  .footer-brand,
  .footer-sublinks {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footer-sublinks ul {
    padding: 0;
    justify-content: center;
    flex-wrap: wrap; /* allow the items to wrap */
  }

  .footer-sublinks li {
    white-space: nowrap;
    padding-right: 5px;
    margin: 0 2.5px;
  }

  .footer-sublinks li:not(:last-child)::after {
    content: ' | ';
    margin: 0 5px;
    vertical-align: middle; /* vertically center the pipe */
  }

  .footer-sublinks a {
    vertical-align: middle; /* vertically center the link text */
  }

  .footer-main ul {
    align-items: center;
    flex-direction: column;
    font-size: var(--body-font-size-m);
    line-height: 35px;
    padding: 0;
  }

  .footer-social {
    padding: 0;
  }

  .social-icons {
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;
  }
}

@media (min-width: 376px) {
  .footer,
  .footer-row,
  .footer-main,
  .footer-brand,
  .footer-sublinks {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footer-sublinks ul {
    display: flex;
    flex-wrap: wrap; /* Allow links to wrap */
    justify-content: center;
    padding: 0;
  }

  .footer-sublinks li:not(:last-child)::after {
    content: ' | ';
    margin: 0 5px;
  }

  .footer-sublinks a {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }

  .footer-main ul {
    align-items: center;
    flex-direction: column;
    font-size: var(--body-font-size-m);
    line-height: 40px;
    padding: 0;
    margin: 0;
  }

  .spacer {
    display: flex;
    flex-direction: column;
    width: 16.667%;
    height: 40px;
  }

  .footer-sublinks {
    padding-right: calc(var(--custom-gutter-x) * 0.5);
  }

  .footer-sublinks ul li a {
    white-space: normal;
    overflow-wrap: break-word;
  }

  .footer-social {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: var(--custom-gutter-y);
    padding-bottom: 40px;
  }

  .social-icons {
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .footer-brand {
    padding-top: 30px;
  }

  .footer-nav {
    padding-top: 30px;
  }

  .footer-main ul {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-right: calc(var(--custom-gutter-x) * 0.5);
    padding-left: calc(var(--custom-gutter-x) * 0.5);
    margin-top: var(--custom-gutter-y);
  }

  .footer-sublinks li {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-main li {
    /* min-width: 100px; Adjust as needed */
    max-width: 100%;
    text-align: center;
    white-space: normal; /* Allow text to wrap */
    line-height: 1.5rem;
    margin: calc(-1 * var(--custom-gutter-y))
      calc(-0.5 * var(--custom-gutter-x)) 10px
      calc(0.5 * var(--custom-gutter-x));
  }

  .footer-main ul > li {
    padding: 30px 0 0;
  }

  .footer-row {
    flex-direction: row;
  }

  .footer-sublinks {
    margin: 10px auto;
    display: block;
    text-align: left;
    font-size: 0.6rem;
    flex-wrap: wrap;
    width: 41.667%;
  }

  .footer-sublinks ul {
    justify-content: flex-start;
  }

  .footer-social {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 0;
    padding-left: calc(var(--custom-gutter-x) * 0.5);
    width: 41.667%;
  }

  .social-icons {
    margin: 10px auto 10px 0;
  }

  .follow-crn {
    padding: 18px 0 0;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .footer-main ul > li {
    padding: 0 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    -webkit-box-orient: vertical;
  }
}

@media (min-width: 992px) {
  .footer {
    flex-direction: row;
  }

  .footer-brand,
  .footer-nav {
    padding-right: calc(var(--custom-gutter-x) * 0.5);
    padding-left: calc(var(--custom-gutter-x) * 0.5);
  }

  .footer-brand {
    padding-top: 0;
  }

  .footer-main ul > li {
    padding: 0 25px;
  }
}

@media (min-width: 1200px) {
  .footer-main ul > li {
    width: inherit;
    white-space: nowrap;
  }
}
