/* add global styles that can be loaded post LCP here */

/* google translate styling for italian and french sites */
.goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}