.breadcrumb {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.breadcrumb-list {
    padding: 0.25rem 30px;
    text-transform: uppercase;
    color: var(--clr-grey);
    border-top: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.breadcrumb-list li {
    display: inline;
}

.breadcrumb-list a {
    color: var(--clr-grey);
    width: 100%;
}