.breadcrumb {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
}

.breadcrumb-list {
    text-transform: uppercase;
    color: var(--clr-grey);
    border-top: 2px solid #c5c5c5;
    border-bottom: 2px solid #c5c5c5;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb-list a {
    color: var(--clr-grey);
}