main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}

main .main-content-container {
  margin-top: 0;
}

.top-ad-section {
  padding-bottom: 20px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  text-align: center;
  min-height: 100px;
  position: relative;
  z-index: 0;
}

.top-ad-section::before {
  z-index: 0;
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 2px solid #ed1c24;
  background-color: #e0e0e0;
  margin-bottom: 30px;
}

.top-ad-section .top-ad {
  z-index: 1;
  position: relative;
}

main .section.breadcrumb-container {
  margin: 0;
  padding: 0;
}

main .section.breadcrumb-container .breadcrumb-wrapper {
  max-width: unset;
}

.ad-title {
  font-family: inherit;
  color: #333333;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 16px;
  height: 16px;
  opacity: 1;
  cursor: pointer;
}

.bottom-ad-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  z-index: 500;
  background-color: rgba(230, 230, 230, 0.7);
  text-align: center;
}

.banner-container > .ad-wrapper:last-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

.banner-container > .banner-wrapper:last-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

main .back-to-top {
  margin: 0 var(--padding-spacer-x);
}

main .back-top-top-section-header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  font-family: Arial Black, Arial, sans serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .top-ad-section {
    min-height: 125px;
  }

  .top-ad-section::before {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .bottom-ad-section {
    width: 100%;
    min-height: 75px;
    margin-left: -50%;
    left: 50%;
  }
}

@media (min-width: 992px) {
  main .content-and-ads-container {
    display: grid;
    gap: var(--padding-spacer-x);
    grid-template-columns: auto 1fr 330px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      ". news news ." 
      ". content ads .";
  }

  main .content-and-ads-container .news-slider-wrapper {
    grid-area: news;
    grid-template:
      ". content ads ." / auto 1fr 330px auto;
  }

  main .content-and-ads-container .content-section {
    grid-area: content;
    margin: 0;
    padding: 0;
  }

  main .content-and-ads-container .content-section .section {
    margin: 0;
    padding: 0;
  }

  main .content-and-ads-container .right-ad-section {
    grid-area: ads;
    min-height: 700px;
    margin: 0;
    padding: 0;
  }

  main .content-and-ads-container .right-ad-section .section {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1140px) {
  .bottom-ad-section {
    max-width: 1140px;
    margin-left: -570px;
  }
}
